@import './variables';
* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: Georgia, Times, serif;
}
h1 {
  font-size: $font-size-large;
  @media only screen and (max-width: 768px) {
    font-size: $font-size-large*0.8;
  }
}
p, ul {
  font-size: $font-size-medium;
  @media only screen and (max-width: 768px) {
    font-size: $font-size-medium*0.8;
  }
}
.welcome-header {
  text-align: center;
}

.box {
  //centering
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: $box-width;
  height: $box-height;
  border: $single-line-border;
  border-radius: $box-border-radius;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    width: auto;
    max-width: $box-width;
  }
}

.ball {
  width: $ball-size;
  height: $ball-size;
  border-radius: $ball-border-radius;
  transition: $transition-fast;
  position: absolute;
  background: $black; //initially

  //ball's moves depending on the particular class
  &.ballToTopLeft {
    left: 0;
    top: 0;
  }
  &.ballToTopRight {
    top: 0;
    left: calc(100% - #{$ball-size});
  }
  &.ballToBottomRight {
    top: calc(100% - #{$ball-size});
    left: calc(100% - #{$ball-size});
  }
  &.ballToBottomLeft {
    top: calc(100% - #{$ball-size});
    left: 0;
  }

}
//loader
#loading {
  display: none;
  text-align: center;
  height: 100%;
  .loader-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  //loader visible depending on the class passed to body
  .loader-visible & {
    display: block
  }
}

//about author component
.about-author-panel {
  position: absolute;
  top: 0;
  transition: $transition-fast;
  width: $author-panel-width;
  max-height: $author-panel-max-height;
  right: 0;
  transform: translateX(110%);
  padding: $author-panel-padding;
  border-radius: $author-panel-border-radius;
  border: $single-line-border;
  box-shadow: $box-shadow-settings;
  background: $white;

  @media only screen and (max-width: 768px) and (orientation: portrait) {
    width: $author-panel-width-mobile-portrait;
  }
  @media only screen and (max-width: 850px) and(orientation: landscape) {
    width: $author-panel-width-mobile-landscape;
  }


  &.panel-visible {
    //right: 0;
    transform: translateX(0);

  }
  img {
    float: right;
    width: $author-photo-width;
    border-radius: $box-border-radius;
  }
}

.btn-container {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  transition: $transition-fast;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.btn-cta {
    padding: $btn-padding;
    border-radius: $border-radius-small;
    background: $white;
    font-size: $font-size-large;
    border: $single-line-border;
    transition: $transition-fast;
    font-family: inherit;
    cursor: pointer;
    width: $btn-width;
    outline: none;
    @media only screen and (max-width: 768px) {
      font-size: inherit;
      padding: $btn-padding/2;
      width: 50%;
    }
  
    &:hover {
      background: $grey;
    }
}


