<!--The content below is only a placeholder and can be replaced.-->
<div class="welcome-header">
  <h1>
    Hello Sport Advice!
  </h1>
  <p>
    <a href="https://github.com/RadoslawPerczynski/Recruitment-Task---Simple-test-API-Call---Angular" target="_blank">Development code</a> | 
   
    <a href="https://github.com/RadoslawPerczynski/Recruitment-Task---Simple-test-API-Call---Angular#documentation" target="_blank">Documentation</a> | 

    <a href="https://radoslawperczynski.github.io/Recruitment-Task---Simple-test-API-Call---Angular/" target="_blank">Live version</a> |

    <a href="https://github.com/RadoslawPerczynski/Recruitment-Task---Simple-test-API-Call---Angular/tree/gh-pages" target="_blank">Production code - minified CSS/JS</a>

  </p>

</div>

<app-box-and-ball></app-box-and-ball>

